.itemss{
    padding: 5%;
    background-color: rgb(242, 219, 190);
    padding-top: 10%;
}

.drinkss{
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(123, 68, 6);
    font-size: 45px;
    padding-bottom: 5%;
}
