.event{
    margin-bottom: 5%;
}
.eventname{
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(123, 68, 6);
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 2%;
}
.eventsize{
    padding-bottom: 250px;
}


/* card1 */
.eventcontent{
    margin-right: 0 !important;
    height: 480px;
}
.eventleft{
    background: #310A0B;
    padding-left: 30px;
    padding-top: 20px;

}
.eventright{
    padding-top: 0;
    padding-left: 0%;
    padding-right: 0%;
}
.eventimgg{
    width: 100%;
    height: 480px;
    background-position: center;
    background-size: cover;
    background-image: url('./img/p4.jpg');
    background-attachment: fixed !important;

}
.eventtitle{
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}
.eventsubtitle{
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 5%;
    justify-content: center;
    font-size: 45px;
    padding-bottom: 5%;
}
.eventparagraph{
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 5%;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 5%;
}
.perah2{
    margin-top: 10%;
}
/* card2 */
.eventleft2{
    padding-top: 0;
    padding-left: 0%;
    padding-right: 0%;
}
.eventright2{
    background: #491b1d;
    padding-left: 30px;
    padding-top: 20px;
}
.eventimgg2{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('./img/p9.jpg');
    background-attachment: fixed !important;

}

/* carg3 */
.eventleft3{
    background: #b96a59;
    padding-left: 30px;
    padding-top: 20px;

}
.eventright3{
    padding-top: 0;
    padding-left: 0%;
    padding-right: 0%;
}
.eventimgg3{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('./img/p3.jpg');
    background-attachment: fixed !important;

}
@media only screen and (max-width: 767px) {
    .eventimgg{
        display: none;
    }
    .eventimgg2{
        display: none;
    }.eventimgg3{
        display: none;
    }
}
